venv/
__pycache__/
.git/
.env

hf_model/
onnx_model/
production_model/
mlartifacts/
mlflow.db

*.onnx
*.safetensors

backend/model/model_2/3_cleaned.csv
backend/model/model_2/train.py
backend/model/model_2/dataset.py
backend/model/model_2/model.py
backend/model/model_2/predict.py
backend/model/model_2/check.py
backend/model/model_2/metrics.py
backend/model/model_2/config.py

mlflow_log.py
register_model.py
promote_model.py