fastapi
uvicorn[standard]
jinja2
python-multipart
itsdangerous

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings
python-dotenv

passlib[bcrypt]
bcrypt

pandas
numpy
scikit-learn
joblib

torch
transformers
sentence-transformers

geopandas
shapely
pyproj
fiona

mlflow
prometheus-client

requests
httpx